 DATABASE_URL=

 
 DB_HOST=
 DB_PORT=
 DB_USER=
 DB_PASSWORD=
 DB_NAME=

 # Configuração da Aplicação
 PORT=3000
 NODE_ENV=development

 # Autenticação JWT
 JWT_SECRET=sua_chave_secreta_forte_aqui
 JWT_EXPIRES_IN=7d