@use "colors" as *;
@use "typography" as *;
@use "layout" as *;

:root {
  --blue: #1b69d2;
  --blue-light: #5390e3;
  --blue-dark: #1357b3;

  --white-light: #f7f9fc;
  --white-normal: #e8ebf0;
  --white-dark: #d8dbe3;

  --black-light: #151b26;
  --black-normal: #0f141f;
  --black-dark: #06090f;

  --gray-2: #2b2b2c;
  --gray-3: #424344;
  --gray-4: #595a5c;
  --gray-5: #717274;
  --gray-6: #888a8c;
  --gray-7: #9ea0a3;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-family: "Rubik", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: var(--black-dark);
}

img,
svg {
  max-width: 100%;
  height: auto;
  display: block;
  border-style: none;
}

ul {
  list-style: none;
}
