@use "colors" as *;
@use "typography" as *;
@use "layout" as *;

:root {
  --white: #fff;
  --black: #000;
  --color-background: #06090f;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: var(--color-background);
}

img,
svg {
  max-width: 100%;
  height: auto;
  display: block;
  border-style: none;
}

ul {
  list-style: none;
}
